@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: black;
   
}

.navbar {
    background: rgba(0, 0, 0, 0.6);
    opacity:0.7;
    color: white;
}



.navbar-brand {
    background-color: white;
}

#bgvid {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.nav-link {
    color:white;
}

/*===== Styles for registration form =====*/







